name: CRYPTOWATCHER

on:
  push:
    branches:
      - '*'

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Install dependencies
        run: yarn install

      - name: Lint code
        run: yarn lint

  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Install dependencies
        run: yarn install

      - name: Build code
        run: yarn build:ts

  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Install SQLite
        run: sudo apt-get install sqlite3 libsqlite3-dev

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Create temporary SQLite database
        run: |
          touch ./test/test.db
          echo 'CREATE TABLE IF NOT EXISTS example (id INTEGER PRIMARY KEY AUTOINCREMENT, name TEXT);' | sqlite3 ./test/test.db
        env:
          DATABASE_URL: ./test/test.db

      - name: Run tests with SQLite
        run: yarn test
        env:
          DATABASE_URL: ${{ env.DATABASE_URL }}

      - name: Delete temporary SQLite database
        run: rm ./test/test.db
